extends layout

include ../mixins/show-search

block page

  .row.post-page
    .columns.small-12.medium-8.main
      
      h1=post.title

      .panel.radius.callout
        big=post.blurb

      block post

    aside.columns.small-12.medium-4
      .row
        .columns.small-12
          +show-search(true)

      .row
        .columns.small-12
          h2
            i.fa.fa-tag
            |   Tags


      .row
        .columns.small-12
          ul.tags
            each tag in post.tags
              li
                big
                  i.fa.fa-tag
                  span  
                  a(href='/search/tag/' + tag.key)=tag.key