extends layout

include ../mixins/show-search

block page

  .row.post-page
    .columns.small-12.medium-8
      
      h1=post.title

      .panel.radius.callout
        big=post.blurb

      block post

    .columns.small-12.medium-4
      .row
        .columns.small-12
          +show-search()

      //
        .row
          .columns.small-12
            h4 View posts with the same language

        each language in post.languages
          a.button.secondary.small.columns.small-12.medium-6(href='/blog/search/language/' + language.key)=language.key
          span

      .row
        .columns.small-12
          h4 View posts with the same tags

      each tag in post.tags
        a.button.secondary.small.columns.small-12.medium-6(href='/blog/search/tag/' + tag.key)=tag.key
        span

      .row
        .columns.small-12