extends layout

include ../mixins/show-search

block page

  .row.post-page
    .columns.small-12.medium-8.main
      
      h1=post.title

      .panel.radius.callout
        big=post.blurb

      block post

    aside.columns.small-12.medium-4
      .row
        .columns.small-12
          +show-search()

      .row
        .columns.small-12
          h2
            i.fa.fa-tag
            |   Tags

      each tag in post.tags
        a.button.secondary.small.columns.small-12.large-6(href='/search/tag/' + tag.key)=tag.key
        span  