mixin show-search ()
  form(name='search' method='POST' action='/search')
    input(type='search' placeholder='Search' autofocus name='search' value=( search || ''))

    button.expand.radius
      i.fa.fa-search
      |   Search

    .row
      .columns.small-12

        h2
          i.fa.fa-language
          |  Languages

    .row
      .columns.small-12

        each lang in languages
          a.button.language.small.small-12.large-6.columns(href='/search/language/' + lang
            class=(language && language === lang ? '': 'secondary'))=lang