mixin show-search ()
  form(name='search')
    input(type='search' placeholder='Search' autofocus)

    button.expand.radius Search

    .row
      .columns.small-12

        h2 
          i.fa
          |  Language 
          a(href) all
          span  
          a(href) none

    .row
      .columns.small-12

        each language in languages
          button.round.secondary.language.tiny(type='button')=language