extends ../layouts/tut

block tut
  p Zurb Foundation is a UI front-end framework, like Bootstrap.

  h2 Features

  ul
    li Written with SASS
    li Free + Open Source
    li Installable via Bower
    li Light + Modular / Customizable
    li Use jQuery
    li Responsive design
    li Grid
    li ...

  h2 Install with bower

  p You can use bower to install foundation. Just type:

  pre.language-bash
    code.language-bash.

      bower install foundation
      ls bower_components/foundation
      # css/ js/ scss/ bower.json



  a(href) How to use bower?

  h2 Do not use default files

  p You 
    strong SHOULD NOT 
    |  import  
    code css/foundation.css
    |  nor the 
    code js/foundation.js
    |  files. 
    | These files contain ALL the components from the Foundation framework.

  p It is very unlikely that your app needs all the components. Instead, you
    |  should build only the components you need.


  h2 Build SASS with node-sass

  p Create a folder called 
    code scss/
    |   in the same directory where the folder 
    code bower_components
    |   is.

  p In the folder 
    code scss/
    |   , create the file 
    code scss/main.scss
    |   and open it with your favorite code editor.

  p We will first set the character encoding to utf-8:

  pre.language-scss
    code.language-scss.

      @charset "UTF-8";



  p Then I will import the Foundation components I want. I can find the list of
    |   these components in 
    code bower_components/foundation/scss
    |   .  Let's say we want to use only these files:

  ul
    li
