//- *** LAYOUT ***
//- ---------------------
extends ../layouts/layout

//- *** MIXINS ***
//- ---------------------
include ../mixins/show-post

//- *** PAGE ***
//- ---------------------
block page
  .row
    .columns.small-12.medium-8

      mixin show-post-two-by-two (post)
        .columns.small-12
          +show-post(post, 'preview')

      - var i = 0
      each post in posts
        if (  (i % 2) )
          .row
            +show-post-two-by-two(post)
        else
          +show-post-two-by-two(post)

        - i ++

    .columns.small-12.medium-4
      form(name='search')
        input(type='search' placeholder='Search' autofocus)

        button.expand.radius Search

        .row
          .columns.small-12

            h2 
              i.fa
              |  Language 
              a(href) all
              span  
              a(href) none

        .row
          .columns.small-12

            each language in languages
              button.round.secondary.language.tiny(type='button')=language