//- *** LAYOUT ***
//- ---------------------
extends ../layouts/layout

//- *** MIXINS ***
//- ---------------------
include ../mixins/show-post
include ../mixins/show-search

//- *** MAIN ***
//- ---------------------
block page
  .row
    .columns.small-12.medium-8

      mixin show-post-two-by-two (post)
        .columns.small-12
          +show-post(post, 'preview')

      - var i = 0
      each post in posts
        if (  (i % 2) )
          .row
            +show-post-two-by-two(post)
        else
          +show-post-two-by-two(post)

        - i ++

    .columns.small-12.medium-4
      +show-search()