extends ../layouts/layout

block page
  form(name='advanced-search' method='POST')
    .row
      .columns.small-12

        p.panel.callout
          i.fa.fa-life-bouy
          big Click a button to include it in / exclude if from the search.

    .row
      .columns.small-12

        h2 
          i.fa
          |  Type 
          a(href) all
          span  
          a(href) none

    .row
      .columns.small-12

        button.round.type(type='button')
          i.fa.fa-flask
          span  Tut

        button.round.type(type='button')
          i.fa.fa-code
          span  Blog

    .row
      .columns.small-12

        h2 
          i.fa
          |  Language 
          a(href) all
          span  
          a(href) none

    .row
      .columns.small-12

        each language in languages
          button.round.secondary.language(type='button')=language

    .row
      .columns.small-12

        h2 
          i.fa
          |  Tags 
          a(href) all
          span  
          a(href) none

    .row
      .columns.small-12

        input(type='text' placeholder='Filter tags')

    .row
      .columns.small-12

        each tag in tags
          button.round.secondary.tag(type='button')=tag

    .row
      .columns.small-12

        button.radius.expand.large Search

        input(type='hidden' name='advanced' value='1')
        input(type='hidden' name='languages')
        input(type='hidden' name='tags')