//- *** LAYOUT ***
//- ---------------------
extends ../layouts/layout

//- *** MAIN ***
//- ---------------------
block page
  form(method='POST' action='/sign-in' data-abide)

    - if ( no_such_user )
      .row
        .columns.small-12
          h3 No such user
          p We have not found you. Please try again!
    
    .row
      .columns.small-12.medium-6
        .name-field
          label
            input(type='email' placeholder='Your email' autofocus required name='email')
          small.error Enter your email address

      .columns.small-12.medium-6
        label
          input(type='password' placeholder='Your password' required name='password')
        small.error Enter your password

    .row
      .columns.small-12
          button.expand.large Sign-in