extends ../layouts/post

block post
  p The 
    a(href='http://www.joelonsoftware.com/articles/fog0000000043.html' target='_blank') Joel Test
    |   is a test in a form of a quizz - which answers give you insightful feedback about your project or your team. It delivers a rough blueprint on how to organize your team and your code, which tools to use and which methodology to consider.

  p Keep in mind that like everything in coding management, these are more 
    a(href='http://heavyeditorial.files.wordpress.com/2013/06/potc-the-pirates-guidelines.jpg?w=640&h=360' target='_blank') guidelines
    |  that written-in-stone rules.

  p The Joel-Test was written back in 2000. In the web industry, this is like ages. Lots have changed. Yet the Joel-Test is still widly in use. It could even have shaped some parts of what the industry looks like today. Incidentally, some technologies have appeared since then which comply with some - or all - of the test:

  ul
    li
      a(href='http://agilemethodology.org/' target='_blank') Agile
    li
      a(href='http://en.wikipedia.org/wiki/Test-driven_development' target='_blank') TDD
    li
      a(href='https://github.com' target='_blank') GitHub
    li
      a(href='http://docs.seleniumhq.org/' target='_blank') Selenium

  
  h2 The Joel-Test

  ol
    li Do you use source control?
    li Can you make a build in one step?
    li Do you make daily builds?
    li Do you have a bug database?
    li Do you fix bugs before writing new code?
    li Do you have an up-to-date schedule?
    li Do you have a spec?
    li Do programmers have quiet working conditions?
    li Do you use the best tools money can buy?
    li Do you have testers?
    li Do new candidates write code during their interview?
    li Do you do hallway usability testing?

  hr